# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# 阿里gpu conda环境  ：安装 conda install --yes --file requirements_ali.txt
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=2.0.0=pypi_0
accelerate=0.24.1=pypi_0
adaseq=0.6.6=pypi_0
addict=2.4.0=pypi_0
aiohttp=3.9.1=pypi_0
aiosignal=1.3.1=pypi_0
albumentations=1.3.1=pypi_0
aliyun-python-sdk-core=2.14.0=pypi_0
aliyun-python-sdk-kms=2.16.2=pypi_0
annotated-types=0.6.0=pypi_0
antlr4-python3-runtime=4.8=pypi_0
anyio=3.7.1=pypi_0
apex=0.1=pypi_0
appdirs=1.4.4=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.3.0=pypi_0
asttokens=2.4.1=pypi_0
astunparse=1.6.3=pypi_0
async-lru=2.0.4=pypi_0
async-timeout=4.0.3=pypi_0
attrs=23.1.0=pypi_0
audioread=3.0.1=pypi_0
auto-gptq=0.5.1+cu118=pypi_0
autojump=0.1.0=pypi_0
av=11.0.0=pypi_0
babel=2.13.1=pypi_0
basicsr=1.4.2=pypi_0
beartype=0.16.4=pypi_0
beautifulsoup4=4.12.2=pypi_0
biopython=1.81=pypi_0
bitarray=2.8.3=pypi_0
bitsandbytes=0.41.2.post2=pypi_0
bitstring=4.1.4=pypi_0
black=23.11.0=pypi_0
bleach=6.1.0=pypi_0
blis=0.7.11=pypi_0
blobfile=2.1.1=pypi_0
bmt-clipit=1.0=pypi_0
boltons=23.0.0=py310h06a4308_0
boto3=1.33.8=pypi_0
botocore=1.33.8=pypi_0
brotlipy=0.7.0=py310h7f8727e_1002
bzip2=1.0.8=h7b6447c_0
c-ares=1.19.1=h5eee18b_0
ca-certificates=2023.7.22=hbcca054_0
cachetools=5.3.2=pypi_0
catalogue=2.0.10=pypi_0
certifi=2023.7.22=pyhd8ed1ab_0
cffi=1.15.1=py310h5eee18b_3
cfgv=3.4.0=pypi_0
charset-normalizer=2.0.4=pyhd3eb1b0_0
chumpy=0.70=pypi_0
cityscapesscripts=2.2.2=pypi_0
click=8.1.7=pypi_0
clip=1.0=pypi_0
cloudpathlib=0.16.0=pypi_0
cloudpickle=3.0.0=pypi_0
colorama=0.4.6=pypi_0
coloredlogs=15.0.1=pypi_0
comm=0.2.0=pypi_0
conda=23.9.0=py310h06a4308_0
conda-content-trust=0.2.0=py310h06a4308_0
conda-libmamba-solver=23.9.1=py310h06a4308_0
conda-package-handling=2.2.0=py310h06a4308_0
conda-package-streaming=0.9.0=py310h06a4308_0
confection=0.1.4=pypi_0
configargparse=1.7=pypi_0
contextlib2=21.6.0=pypi_0
contourpy=1.2.0=pypi_0
control-ldm=0.0.1=pypi_0
crcmod=1.7=pypi_0
cryptography=41.0.3=py310hdda0065_0
cycler=0.12.1=pypi_0
cymem=2.0.8=pypi_0
cython=0.29.36=pypi_0
dataclasses=0.6=pypi_0
datasets=2.15.0=pypi_0
ddpm-guided-diffusion=0.0.0=pypi_0
debugpy=1.8.0=pypi_0
decorator=4.4.2=pypi_0
decord=0.6.0=pypi_0
deepspeed=0.12.3=pypi_0
defusedxml=0.7.1=pypi_0
descartes=1.1.0=pypi_0
detectron2=0.6=pypi_0
dgl=1.1.2+cu118=pypi_0
diffusers=0.21.4=pypi_0
dill=0.3.6=pypi_0
distlib=0.3.7=pypi_0
easydict=1.11=pypi_0
easyrobust=0.2.4=pypi_0
edit-distance=1.0.6=pypi_0
editdistance=0.6.2=pypi_0
einops=0.7.0=pypi_0
embeddings=0.0.8=pypi_0
emoji=2.9.0=pypi_0
exceptiongroup=1.1.3=pypi_0
executing=2.0.1=pypi_0
expecttest=0.1.6=pypi_0
face-alignment=1.4.1=pypi_0
fairscale=0.4.13=pypi_0
fairseq=0.12.2=pypi_0
fastai=2.7.13=pypi_0
fastapi=0.104.1=pypi_0
fastcore=1.5.29=pypi_0
fastdownload=0.0.7=pypi_0
fastjsonschema=2.19.0=pypi_0
fastprogress=1.0.3=pypi_0
fasttext=0.9.2=pypi_0
ffmpeg=1.4=pypi_0
ffmpeg-python=0.2.0=pypi_0
filelock=3.13.1=pypi_0
fire=0.5.0=pypi_0
flake8=6.1.0=pypi_0
flash-attn=2.3.3+torch2.1cu118=pypi_0
flatbuffers=23.5.26=pypi_0
fmt=9.1.0=hdb19cb5_0
fonttools=4.44.3=pypi_0
fqdn=1.5.1=pypi_0
freetype=2.10.4=h0708190_1
frozenlist=1.4.0=pypi_0
fsspec=2023.10.0=pypi_0
ftfy=6.1.3=pypi_0
funasr=0.8.7=pypi_0
funtextprocessing=0.1.1=pypi_0
future=0.18.3=pypi_0
fvcore=0.1.5.post20221221=pypi_0
gast=0.5.4=pypi_0
gekko=1.0.6=pypi_0
gmp=6.1.2=hf484d3e_1000
gnutls=3.6.15=he1e5248_0
google-auth=2.23.4=pypi_0
google-auth-oauthlib=1.0.0=pypi_0
google-pasta=0.2.0=pypi_0
greenlet=3.0.1=pypi_0
grpcio=1.59.2=pypi_0
h11=0.14.0=pypi_0
h5py=3.10.0=pypi_0
hdbscan=0.8.33=pypi_0
hjson=3.1.0=pypi_0
httptools=0.6.1=pypi_0
huggingface-hub=0.19.4=pypi_0
humanfriendly=10.0=pypi_0
hydra-core=1.0.7=pypi_0
hyperpyyaml=1.2.2=pypi_0
icu=73.1=h6a678d5_0
identify=2.5.32=pypi_0
idna=3.4=py310h06a4308_0
imageio=2.33.0=pypi_0
imageio-ffmpeg=0.4.9=pyhd8ed1ab_0
imgaug=0.4.0=pypi_0
importlib-metadata=6.8.0=pypi_0
inflect=7.0.0=pypi_0
iniconfig=2.0.0=pypi_0
iopath=0.1.9=pypi_0
ipdb=0.13.13=pypi_0
ipykernel=6.26.0=pypi_0
ipython=8.17.2=pypi_0
isoduration=20.11.0=pypi_0
isort=5.12.0=pypi_0
jaconv=0.3.4=pypi_0
jamo=0.4.1=pypi_0
jedi=0.19.1=pypi_0
jieba=0.42.1=pypi_0
jinja2=3.1.2=pypi_0
jmespath=0.10.0=pypi_0
joblib=1.3.2=pypi_0
json-tricks=3.17.3=pypi_0
json5=0.9.14=pypi_0
jsonpatch=1.32=pyhd3eb1b0_0
jsonplus=0.8.0=pypi_0
jsonpointer=2.1=pyhd3eb1b0_0
jsonschema=4.20.0=pypi_0
jsonschema-specifications=2023.11.1=pypi_0
jupyter-client=8.6.0=pypi_0
jupyter-core=5.5.0=pypi_0
jupyter-events=0.9.0=pypi_0
jupyter-lsp=2.2.1=pypi_0
jupyter-server=2.10.1=pypi_0
jupyter-server-terminals=0.4.4=pypi_0
jupyterlab=4.0.9=pypi_0
jupyterlab-language-pack-zh-cn=4.0.post6=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab-server=2.25.2=pypi_0
kaldiio=2.18.0=pypi_0
kantts=1.0.1=pypi_0
keras=2.14.0=pypi_0
kiwisolver=1.4.5=pypi_0
kornia=0.7.0=pypi_0
krb5=1.20.1=h143b758_1
kwsbp=0.0.6=pypi_0
lame=3.100=h7f98852_1001
langcodes=3.3.0=pypi_0
lap=0.4.0=pypi_0
lazy-loader=0.3=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libarchive=3.6.2=h6ac8c49_2
libclang=16.0.6=pypi_0
libcurl=8.2.1=h251f7ec_0
libedit=3.1.20221030=h5eee18b_0
libev=4.33=h7f8727e_1
libffi=3.4.4=h6a678d5_0
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libidn2=2.3.4=h5eee18b_0
libmamba=1.5.1=haf1ee3a_0
libmambapy=1.5.1=py310h2dafd23_0
libnghttp2=1.52.0=h2d74bed_1
libopus=1.3.1=h7f98852_1
libpng=1.6.39=h5eee18b_0
librosa=0.10.1=pypi_0
libsolv=0.7.24=he621ea3_0
libssh2=1.10.0=hdbd6064_2
libstdcxx-ng=11.2.0=h1234567_1
libtasn1=4.19.0=h5eee18b_0
libunistring=0.9.10=h7f98852_0
libuuid=1.41.5=h5eee18b_0
libvpx=1.7.0=h439df22_0
libxml2=2.10.4=hf1b16e4_1
lightning-utilities=0.10.0=pypi_0
llvmlite=0.41.1=pypi_0
lmdb=1.4.1=pypi_0
lpips=0.1.4=pypi_0
lxml=4.9.3=pypi_0
lyft-dataset-sdk=0.0.8=pypi_0
lz4-c=1.9.4=h6a678d5_0
markdown=3.5.1=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.3=pypi_0
matplotlib=3.5.3=pypi_0
matplotlib-inline=0.1.6=pypi_0
mccabe=0.7.0=pypi_0
mdurl=0.1.2=pypi_0
megatron-util=1.3.2=pypi_0
mindaec=0.0.2=pypi_0
mir-eval=0.7=pypi_0
mistune=3.0.2=pypi_0
ml-collections=0.1.1=pypi_0
ml-dtypes=0.2.0=pypi_0
mmcls=0.25.0=pypi_0
mmcv-full=1.7.0=pypi_0
mmdet=2.28.2=pypi_0
mmdet3d=1.0.0a1=pypi_0
mmsegmentation=0.30.0=pypi_0
mock=5.1.0=pypi_0
modelscope=1.10.0=pypi_0
modelscope-kit=0.3.0=pypi_0
moviepy=1.0.3=pypi_0
mpi4py=3.1.5=pypi_0
mpmath=1.3.0=pypi_0
ms-swift=1.4.0=pypi_0
msgpack=1.0.7=pypi_0
multidict=6.0.4=pypi_0
multiprocess=0.70.14=pypi_0
multiscaledeformableattention=1.0=pypi_0
murmurhash=1.0.10=pypi_0
mypy-extensions=1.0.0=pypi_0
nbclient=0.9.0=pypi_0
nbconvert=7.11.0=pypi_0
nbformat=5.9.2=pypi_0
ncurses=6.4=h6a678d5_0
nerfacc=0.2.2=pypi_0
nest-asyncio=1.5.8=pypi_0
nettle=3.7.3=hbbd107a_1
networkx=3.2.1=pypi_0
ninja=1.11.1.1=pypi_0
nltk=3.8.1=pypi_0
nodeenv=1.8.0=pypi_0
notebook-shim=0.2.3=pypi_0
numba=0.58.1=pypi_0
numpy=1.26.1=pypi_0
nuscenes-devkit=1.1.11=pypi_0
nvdiffrast=0.3.1=pypi_0
oauthlib=3.2.2=pypi_0
omegaconf=2.0.6=pypi_0
onnx=1.15.0=pypi_0
onnxruntime=1.16.3=pypi_0
onnxsim=0.4.35=pypi_0
open-clip-torch=2.23.0=pypi_0
opencv-python=4.8.1.78=pypi_0
opencv-python-headless=4.8.1.78=pypi_0
openh264=2.1.1=h4ff587b_0
openssl=3.0.12=h7f8727e_0
opt-einsum=3.3.0=pypi_0
optimum=1.14.1=pypi_0
oss2=2.18.3=pypi_0
overrides=7.4.0=pypi_0
packaging=23.1=py310h06a4308_0
pai-easycv=0.11.6=pypi_0
paint-ldm=0.0.0=pypi_0
pandas=2.1.3=pypi_0
pandocfilters=1.5.0=pypi_0
panopticapi=0.1=pypi_0
parso=0.8.3=pypi_0
pathspec=0.11.2=pypi_0
pcre2=10.42=hebb0a14_0
peft=0.6.2=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=10.1.0=pypi_0
pip=23.3.2=pypi_0
platformdirs=4.0.0=pypi_0
plotly=5.18.0=pypi_0
pluggy=1.0.0=py310h06a4308_1
plyfile=1.0.2=pypi_0
pointnet2=0.0.0=pypi_0
pooch=1.8.0=pypi_0
portalocker=2.8.2=pypi_0
pre-commit=3.5.0=pypi_0
preshed=3.0.9=pypi_0
prettytable=3.9.0=pypi_0
proglog=0.1.10=pypi_0
prometheus-client=0.19.0=pypi_0
prompt-toolkit=3.0.41=pypi_0
protobuf=3.20.3=pypi_0
psutil=5.9.6=pypi_0
ptflops=0.7.1.2=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
py-cpuinfo=9.0.0=pypi_0
py-sound-connect=0.2.1=pypi_0
pyarrow=14.0.1=pypi_0
pyarrow-hotfix=0.6=pypi_0
pyasn1=0.5.0=pypi_0
pyasn1-modules=0.3.0=pypi_0
pybind11=2.11.1=pypi_0
pybind11-abi=4=hd3eb1b0_1
pyclipper=1.3.0.post5=pypi_0
pycocoevalcap=1.2=pypi_0
pycocotools=2.0.7=pypi_0
pycodestyle=2.11.1=pypi_0
pycosat=0.6.6=py310h5eee18b_0
pycparser=2.21=pyhd3eb1b0_0
pycryptodome=3.19.0=pypi_0
pycryptodomex=3.19.0=pypi_0
pydantic=1.10.13=pypi_0
pydantic-core=2.14.3=pypi_0
pydeprecate=0.3.2=pypi_0
pydot=1.4.2=pypi_0
pyflakes=3.1.0=pypi_0
pygments=2.16.1=pypi_0
pymcubes=0.1.4=pypi_0
pynini=2.1.5=pypi_0
pynndescent=0.5.11=pypi_0
pynvml=11.5.0=pypi_0
pyopenssl=23.2.0=py310h06a4308_0
pyparsing=3.1.1=pypi_0
pyquaternion=0.9.9=pypi_0
pysocks=1.7.1=py310h06a4308_0
pysptk=0.1.18=pypi_0
pytest=7.4.3=pypi_0
pythainlp=4.0.2=pypi_0
python=3.10.13=h955ad1f_0
python-crfsuite=0.9.9=pypi_0
python-dateutil=2.8.2=pypi_0
python-dotenv=1.0.0=pypi_0
python-json-logger=2.0.7=pypi_0
pytorch-lightning=1.7.7=pypi_0
pytorch-metric-learning=2.3.0=pypi_0
pytorch-wavelets=1.3.0=pypi_0
pytorch-wpe=0.0.1=pypi_0
pytorch3d=0.7.5=pypi_0
pytz=2023.3.post1=pypi_0
pyvi=0.1.1=pypi_0
pywavelets=1.5.0=pypi_0
pyyaml=6.0.1=pypi_0
pyzmq=25.1.1=pypi_0
qudida=0.0.4=pypi_0
rapidfuzz=3.5.2=pypi_0
ray=2.8.0=pypi_0
readline=8.2=h5eee18b_0
referencing=0.31.0=pypi_0
regex=2023.10.3=pypi_0
reproc=14.2.4=h295c915_1
reproc-cpp=14.2.4=h295c915_1
requests=2.31.0=py310h06a4308_0
requests-oauthlib=1.3.1=pypi_0
resampy=0.4.2=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rich=13.7.0=pypi_0
rotary-embedding-torch=0.4.0=pypi_0
rouge=1.0.1=pypi_0
rouge-score=0.0.4=pypi_0
rpds-py=0.13.1=pypi_0
rsa=4.9=pypi_0
ruamel-yaml=0.18.5=pypi_0
ruamel-yaml-clib=0.2.8=pypi_0
s3transfer=0.8.2=pypi_0
sacrebleu=2.3.2=pypi_0
sacremoses=0.1.1=pypi_0
safetensors=0.4.0=pypi_0
scikit-image=0.19.3=pypi_0
scikit-learn=1.3.2=pypi_0
scipy=1.11.3=pypi_0
seaborn=0.13.0=pypi_0
send2trash=1.8.2=pypi_0
sentencepiece=0.1.99=pypi_0
seqeval=1.2.2=pypi_0
setuptools=68.0.0=py310h06a4308_0
shapely=1.8.4=pypi_0
shotdetect-scenedetect-lgss=0.0.4=pypi_0
simplejson=3.19.2=pypi_0
six=1.16.0=pypi_0
sklearn-crfsuite=0.3.6=pypi_0
smart-open=6.4.0=pypi_0
smplx=0.1.28=pypi_0
sniffio=1.3.0=pypi_0
sortedcontainers=2.4.0=pypi_0
soundfile=0.12.1=pypi_0
soupsieve=2.5=pypi_0
sox=1.4.1=pypi_0
soxr=0.3.7=pypi_0
spacy=3.7.2=pypi_0
spacy-legacy=3.0.12=pypi_0
spacy-loggers=1.0.5=pypi_0
speechbrain=0.5.16=pypi_0
sqlite=3.41.2=h5eee18b_0
srsly=2.4.8=pypi_0
stack-data=0.6.3=pypi_0
stanza=1.7.0=pypi_0
starlette=0.27.0=pypi_0
subword-nmt=0.3.8=pypi_0
sympy=1.12=pypi_0
tabulate=0.9.0=pypi_0
taming-transformers-rom1504=0.0.6=pypi_0
tb-nightly=2.16.0a20231127=pypi_0
tenacity=8.2.3=pypi_0
tensorboard=2.14.1=pypi_0
tensorboard-data-server=0.7.2=pypi_0
tensorboardx=2.6.2.2=pypi_0
tensordict=0.2.1=pypi_0
tensorflow=2.14.0=pypi_0
tensorflow-estimator=2.14.0=pypi_0
tensorflow-io-gcs-filesystem=0.34.0=pypi_0
termcolor=2.3.0=pypi_0
terminado=0.18.0=pypi_0
terminaltables=3.1.10=pypi_0
text2sql-lgesql=1.3.0=pypi_0
tf-keras-nightly=2.16.0.dev2023112710=pypi_0
tf-slim=1.1.0=pypi_0
thinc=8.2.1=pypi_0
thop=0.1.1-2209072238=pypi_0
threadpoolctl=3.2.0=pypi_0
tifffile=2023.9.26=pypi_0
tiktoken=0.5.1=pypi_0
timm=0.5.4=pypi_0
tinycss2=1.2.1=pypi_0
tinycudann=1.7+cu118=pypi_0
tk=8.6.12=h1ccaba5_0
tokenizers=0.13.3=pypi_0
toml=0.10.2=pypi_0
tomli=2.0.1=pypi_0
torch=2.1.0+cu118=pypi_0
torch-complex=0.4.3=pypi_0
torch-scatter=2.1.2=pypi_0
torchaudio=2.1.0+cu118=pypi_0
torchdata=0.7.0=pypi_0
torchmetrics=0.11.4=pypi_0
torchsde=0.2.6=pypi_0
torchsummary=1.5.1=pypi_0
torchvision=0.16.0+cu118=pypi_0
tornado=6.3.3=pypi_0
tqdm=4.65.0=py310h2f386ee_0
traitlets=5.13.0=pypi_0
trampoline=0.1.2=pypi_0
transformers=4.32.0=pypi_0
transformers-stream-generator=0.0.4=pypi_0
trimesh=2.35.39=pypi_0
triton=2.1.0=pypi_0
truststore=0.8.0=py310h06a4308_0
ttsfrd=0.2.1=pypi_0
typeguard=2.13.3=pypi_0
typer=0.9.0=pypi_0
types-python-dateutil=2.8.19.14=pypi_0
typing=3.7.4.3=pypi_0
typing-extensions=4.8.0=pypi_0
tzdata=2023.3=pypi_0
ujson=5.8.0=pypi_0
umap=0.1.1=pypi_0
umap-learn=0.5.5=pypi_0
unicodedata2=15.1.0=pypi_0
unicore=1.2.1=pypi_0
unidecode=1.3.7=pypi_0
uri-template=1.3.0=pypi_0
urllib3=1.26.16=py310h06a4308_0
utils=1.0.1=pypi_0
uvicorn=0.24.0.post1=pypi_0
uvloop=0.19.0=pypi_0
videofeatures-clipit=1.0=pypi_0
virtualenv=20.25.0=pypi_0
vllm=0.2.1+cu118torch2.1=pypi_0
wasabi=1.1.2=pypi_0
watchfiles=0.21.0=pypi_0
wcwidth=0.2.12=pypi_0
weasel=0.3.4=pypi_0
webcolors=1.13=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.6.4=pypi_0
websockets=12.0=pypi_0
werkzeug=3.0.1=pypi_0
wget=3.2=pypi_0
wheel=0.41.2=py310h06a4308_0
wrapt=1.14.1=pypi_0
x264=1!157.20191217=h7b6447c_0
xformers=0.0.22.post7+cu118=pypi_0
xtcocotools=1.14=pypi_0
xxhash=3.4.1=pypi_0
xz=5.4.2=h5eee18b_0
yacs=0.1.8=pypi_0
yaml-cpp=0.7.0=h295c915_1
yapf=0.30.0=pypi_0
yarl=1.9.3=pypi_0
zhconv=1.4.3=pypi_0
zipp=3.17.0=pypi_0
zlib=1.2.13=h5eee18b_0
zstandard=0.19.0=py310h5eee18b_0
zstd=1.5.5=hc292b87_0
